body {
	background-color:  #e3e3e3;
}

p {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:  #4C0610;
	font-size: 40px;
	padding: 0px 40px;
}

#p1 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:  #4C0610;
	font-size: 40px;
	padding: 0px 3em 30px 3em;
}