/* Miligram overrides */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.top-nav-links,
.side-nav,
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #363637;
}
.button{
    background: #4C0614;
    border:#4C0614
}
.button:hover{
    background: #808080;
    transition: 0.5s;
}
input[type=submit]{
    background: #4C0614;
    border:#4C0614;
}
input[type=submit]:hover{
    background: #808080;
    transition: 0.5s;
}

a {
    color:#2f85ae;
    -webkit-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

a:hover,
a:focus,
a:active  {
    color:#2a6496;
    -webkit-transition:all 0.2s easeout;
    transition:all 0.2s ease-out;
}

.side-nav a,
.top-nav-links a,
th a,
.actions a {
    color: #4C0610;
}
.actions {
    color: #4C0610;
}

.side-nav a:hover,
.side-nav a:focus,
.actions a:hover,
.actions a:focus {
    filter: drop-shadow(0.7px 0.7px 0.7px grey);
    transition: 0.5s;
}

/* Utility */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* Main */
body {
    background: #e3e3e3;
}
.content {
    padding: 2rem;
    background: #ffffff;
    border-radius: 0.4rem;
    /* Thanks Stripe */
    box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.1),
        0 3px 6px 0 rgba(0, 0, 0, 0.07);
}
.actions a {
    font-weight: bold;
    padding: 0 0.4rem;
}
th {
    white-space: nowrap;
}

/* Nav bar */
.logo {
    width: 6rem;
    display: inline;
    vertical-align: middle;
}
.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto 2rem;
    justify-content: space-around;
}
.top-nav-title a {
    font-size: 2.4rem;
    color: #4C0610;
    margin: 4rem;
}
.top-nav-title a:hover {
    filter: drop-shadow(0.7px 0.7px 0.7px grey);
}
.top-nav-title span {
    color: #404041;
}
.top-nav-links a {
    margin: 0 0.5rem;
}
.top-nav-title a,
.top-nav-links a {
    font-weight: bold;
}

.side-nav-item {
    display: block;
    padding: 0.5rem 0;
}

/* View action */
.view.content .text {
    margin-top: 1.2rem;
}
.related {
    margin-top: 2rem;
}

/* Flash messages */
.message {
    padding: 1rem;

    background: #eff8ff;
    color: #2779bd;

    border-color: #6cb2eb;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 2rem;
}
.message.hidden {
    display: none;
}
.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
}
.message.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}

/* Forms */
.input.radio,
.input.checkbox {
    margin-bottom: 2.0rem;
}
.input.radio input,
.input.checkbox input {
    margin: 0;
}
.input.radio label,
.input.checkbox label {
    margin: 0;
    display: flex;
    align-items: center;
}
.input.radio label > input,
.input.checkbox label > input {
    margin-right: 1.0rem;
}
.input.radio label:first-of-type {
    margin-bottom: 2.0rem;
}

/* Paginator */
.paginator {
    text-align: right;
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
}
.pagination li {
    margin: 0 0.5rem;
}
.prev.disabled a,
.next.disabled a {
    cursor: not-allowed;
    color: #606c76;
}
.asc:after {
    content: " \2193";
}
.desc:after {
    content: " \2191";
}

/* Error */
.error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    .top-nav {
        margin: 0 auto;
    }
    .side-nav {
        margin-bottom: 1rem;
    }
    .heading {
        margin-bottom: 1rem;
    }
    .side-nav-item {
        display: inline;
        margin: 0 1.5rem 0 0;
    }
    .asc:after {
        content: " \2192";
    }
    .desc:after {
        content: " \2190";
    }
}

/* Form edited */

.formclass{
    padding: 2rem;
    background: #3D3528;
    color: white;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgb(60 66 87 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
}
.formclass input,textarea{
    background-color: white;
    border: 3px solid;
    border-color: #4C0614;
}
.formclass select{
    background-color: white;
    border: 3px solid;
    border-color: #4C0614;
}
.formclass input:focus,textarea:focus{
    background-color: white;
    border: 3px solid;
    border-color: #808080;
}
.formclass button{
    background: #4C0614;
    border:#4C0614
}
.formclass button:hover{
    background: #808080;
    transition: 0.5s;
}
.loginimg img {
    width: 25rem;
    display: inline;
    vertical-align: middle;
}
.loginimg {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 2rem;
    text-align: center;
}
.loginclass {
    padding: 2rem;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 1rem;
    text-align: center;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0 7px 14px 0 rgb(60 66 87 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%);
}

/**************************************************************
************************ MENU DEROULANT ***********************
**************************************************************/

/*li {
    list-style:none !important;
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
}

li a:hover {
    border-bottom:3px #FFF solid;
}
nav div li ul {
    display:none;
}
nav div li:hover ul {
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
}
nav div li:hover ul li {
    float:none;
}*/



.container-fluid {
    margin: 0px auto;
    width: 85%;
}
.container{
    margin-top: 2.5%;
}

/**************************************************************
****************************** PICTURE ************************
**************************************************************/

.picture-view {
    width: 350px;
}

.picture-list {
    width: 200px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: -23%;
}

.dropdown a{
    font-size: 2.4rem;
    color: #4C0610;
    margin-left: 5rem;
    margin-right: 5rem;
}
.dropdown a:hover{
    filter: drop-shadow(0.7px 0.7px 0.7px grey);
    transition: 0.5s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}
.dropdomn-content {
    display: none;
    position: absolute;
    min-width: 160px;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 1.6rem;
    color: #4C0610;
    margin-left: 25rem;
    padding: 1px 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
}
.dropdomn-content a {
    font-size: 1.6rem;
    color: #4C0610;
    margin-left: 44rem;
    padding: 1px 0px;
    text-align: center;
    text-decoration: none;
    display: flex;
}
.dropdown-content a:hover {
    filter: drop-shadow(0.7px 0.7px 0.7px grey);
    transition: 0.5s;
}
.dropdomn-content a:hover {
    filter: drop-shadow(0.7px 0.7px 0.7px grey);
    transition: 0.5s;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}
/* Change dropdown title when toggled */
.true {
    text-decoration: underline;
    filter: drop-shadow(0.7px 0.7px 0.7px grey);
}



